<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<!-- Mac Fold does not use tracking or share data with data brokers -->
	<key>NSPrivacyTracking</key>
	<false/>
	<key>NSPrivacyTrackingDomains</key>
	<array/>
	<!-- Mac Fold collects zero user, telemetry, or diagnostic data -->
	<key>NSPrivacyCollectedDataTypes</key>
	<array/>
	<!-- Accessed system APIs and designated Apple reasons -->
	<key>NSPrivacyAccessedAPITypes</key>
	<array>
		<dict>
			<!-- UserDefaults: Access user defaults to store and read user settings locally -->
			<key>NSPrivacyAccessedAPIType</key>
			<string>NSPrivacyAccessedAPICategoryUserDefaults</string>
			<key>NSPrivacyAccessedAPITypeReasons</key>
			<array>
				<string>CA92.1</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
